- form_for @ical, :url => admin_ical_path(@ical) do |f|
  .form-area
    = error_messages_for :ical
    %p
      = f.label :calendar_id, "Calendar this iCal will populate"
      %br
      = f.select :calendar_id, calendars_for_select
    %p
      = f.label :ical_url, "URL"
      %br
      = f.text_field :ical_url
    = f.submit "Create"
    = link_to 'Cancel', admin_icals_path

