= render :partial => 'admin/shared/nav'
%h1 iCal Subscriptions

%table{:class => "index"}
  %tr
    %th{:width => "250px"}
      Calendar
    %th{:width => "200px"}
      iCal URL
    %th{:width => "150px"}
      Last Refresh
    %th
  - for ical in @icals
    %tr.node.level-0
      %td{:class => "page", :style => "padding-left: 20px"}
        %a{:href => edit_admin_ical_path(ical)}
          %span.w1
            %img{:src => "/images/admin/page.png", :class => "icon", :alt => "page-icon"}
            %span.title= ical.calendar.name
      %td{:width => "200px"}
        = ical.ical_url
      %td{:width => "150px"}
        = ical.last_refresh_date.strftime("%m/%d at %H:%M") unless ical.last_refresh_date.blank?
      %td{:style => "text-align:right;"}
        = link_to 'Refresh', refresh_admin_ical_url(ical), :method => :put 
        |
        = link_to image_tag("/images/admin/remove.png", :alt => "remove ical"), admin_ical_path(ical), :confirm => 'Are you sure?', :method => :delete
%br
%div{:style => "text-align:right;width:100%;"}
  = link_to "Refresh All", refresh_all_admin_icals_path, :method => :put
  | 
  = link_to 'Add an iCal subscription', new_admin_ical_url 
  