= render :partial => 'admin/shared/nav'
%h2 Editing Calendar
%h3= "#{@calendar.name} (calendars/#{@calendar.category.downcase}/#{@calendar.name.downcase})"
= render :partial => "form", :locals => { :calendar => @calendar }