- form_for @event, :url => admin_event_path(@calendar) do |f|
  .form-area      
    %p.title
      = f.label :title, "Title"
      = f.text_field :title, :class => "textbox", :maxlength => 255
    %br
    = f.label :description, "Description"
    %br
    = f.text_area :description
    %br
    = f.label :start_date
    = f.date_select :start_date
    %br
    = f.label :end_date
    = f.date_select :end_date 
    %br
    = f.label :calendar_id
    = f.select :calendar_id, Calendar.find(:all).collect { |c| [c.name, c.id] }
    %br
    = f.submit 
